/* HomePage.css */

.homepage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.video_container {
  width: 80%;
  max-width: 1200px; /* Set a max width to prevent the video from becoming too large */
  height: auto;
  position: relative; /* Ensure the container is positioned correctly */
}

.fade-animation {
  animation: fadeIn 5s;
}
  
.video_container video {
  width: 100%; /* Make the video take the full width of the container */
  height: auto;
  border-radius: 15px;
  border: 2px solid white;
  object-fit: cover;
}
  
.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  color: white;
  z-index: 1;
}
  
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .video_container {
        width: 100%; /* Make video container take the full width on smaller screens */
        max-width: none; /* Remove max-width restriction */
    }
    .overlay {
        padding: 15px;
    }
    h1 {
        font-size: 2rem;
        color: white;
    }
    p {
        font-size: 1rem;
        color: white;
    }
}
 
@media (max-width: 480px) {
    .video_container {
        width: 100%; /* Make video container take the full width on smaller screens */
    }
    .overlay {
        padding: 15px;
    }
    h1 {
        font-size: 1.5rem;
        color: white;
    }
    p {
        font-size: 0.9rem;
        color: white;
    }
}
